-
    const email = "azdavis@andrew.cmu.edu"
        , tel = "1-908-514-1006"
        , gh = "github.com/azdavis"

html(lang="en")
    head
        include /src/base/head.pug
        title Ariel Davis
        style: include index.css
    body
        h1 Ariel Davis
        .contact
            a(href=`mailto:${email}` data-print=email) Email
            span.sep
            a(href=`tel:${tel}` data-print=tel) Telephone
            span.sep
            span.print
                span(data-print="azdavis.xyz")
                span.sep
            a(href=`https://${gh}` data-print=gh) GitHub
        h2 Objective
        p.
            To take the fullest advantage of research opportunities,
            internships, and my classes, in order to further my understanding
            in the field of computer science.
        h2 Education
        dl
            dt May 2020
            dd
                p.sc Carnegie Mellon University
                p Pittsburgh, PA
                p Bachelor of Science in Computer Science
            dt June 2016
            dd
                p.sc Summit High School
                p Summit, NJ
                p Diploma with Honors, GPA 4.5
        h2 Selected Coursework
        dl
            dt Fall 2016
            dd
                p #[span.m 15-150] Principles of Functional Programming
                p #[span.m 21-241] Matrices and Linear Transformations
                p #[span.m 15-131] Great Practical Ideas in Computer Science
            dt Summer 2015
            dd
                p #[span.m 15-122] Principles of Imperative Computation
                p #[span.m 21-127] Concepts of Mathematics
        h2 Activities
        dl
            dt 2015-2016
            dd
                p Summit High School computer club
                p Summit High School community service club
            dt Summer 2015
            dd: p Carnegie Mellon University Pre-College program
            dt Summer 2014
            dd: p Northwestern University web dev program
        h2 Awards
        dl
            dt 2016
            dd
                p Summit High School Computer Science Award of Excellence
                p National AP Scholar
            dt 2015-2016
            dd: p AP Scholar with Distinction
        h2 Skills
        dl
            dt Languages
            dd: p Ruby, Python, JavaScript &amp; TypeScript, Haskell, C, Java
            dt Markup
            dd: p HTML &amp; Pug, CSS &amp; Stylus, Markdown, LaTeX
            dt Tools
            dd: p Git, GitHub, Make, Shell
